#about {
    /* background: rgb(35, 35, 35); */
    background: rgb(18, 18, 18);
    color:white;
  }

#about-page {
    height: 110vh;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c c"
    "b d e"
    "b f g"
    "b h h"
    "b i i"
    "j j j";
    /* grid-template-rows: 150px 75px 50px 50px 200px 75px 200px; */
    grid-template-rows: 0.2fr 0.1fr 0.0625fr 0.0625fr 0.275fr 0.1fr 0.2fr;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;             
    width: 80vw;
    margin: auto;
}
.about-section-title {
    margin-top: 10vh;
    grid-area: a;
}

.about-title {
    font-size: 3vw;
}

#image {
    grid-area: b;
    width: 15vw;
    height: 100%;
    margin: auto;
}

.about-information {
    grid-area: c;
}

.about-information-title {
    font-size: 2vw;
}

.description {
    grid-area: h;
    font-size: 1.2vw;
}

.colin-information {
    font-size: 1.3vw;
}

.contact-information {
    grid-area: i;
    margin: auto;
}

.skills {
    grid-area: j;
    text-align: center;
    margin: auto;
    margin-top: 7%;
}

.skills-title {
    font-size: 3vw;
}

.skills-listed {
    font-size: 1.5vw;
}

.turquoise {
    color: turquoise;
}

.email {
    text-decoration: underline !important; 
    color: white;
}