#about {
    background: rgb(35, 35, 35);
    color:white;
  }

#about-page {
    margin-top: 5%;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c c"
    "b d e"
    "b f g"
    "b h h"
    "b i i"
    "j j j";
    grid-template-rows: 150px 75px 50px 50px 200px 75px 150px;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;             
    width: 80%;
    margin: auto;
}
.about-section-title {
    margin-top: 6%;
    grid-area: a;
}

.about-title {
    font-size: 3vw;
}

#image {
    grid-area: b;
    width: 45%;
    height: 100%;
    margin: auto;
}

.about-information {
    grid-area: c;
}

.description {
    grid-area: h;
    
}

.colin-information {
    font-size: 18px;
}

.contact-information {
    grid-area: i;
    margin: auto;
}

.skills {
    grid-area: j;
    text-align: center;
    margin: auto;
}

.skills-title {
    font-size: 3vw;
}

.skills-listed {
    font-size: 1.5vw;
}

.turquoise {
    color: turquoise;
}

.email {
    text-decoration: underline !important; 
    color: white;
}