.home {
  height: 100vh;
  width: 100vw;
  z-index: 1000000;
  overflow:auto;
  background: rgb(18, 18, 18);
}

.introduction {
  font-size:6vw;
  color:turquoise;
  text-align: center;
  margin-top: 15%;
}

.introduction h2 {
  font-size: 4vw;
}

.title-name {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: .75;
  margin: 10px 0;
}

.home-button {
  margin-top: 5%;
  text-align: center;
}

.see-work-button:hover {
  background-color: red;
}

#main-nav {
  overflow: hidden;
  background: rgb(50, 50, 50);
  position: relative; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 1;
  height: 65px;
  width: 100%; /* Full width */
}

#main-nav .home-logo {
  max-width: 0;
  overflow: hidden;
  color: white;
  transition: all 0.5s;
  font-size: 1.7vw;
}

.fixed-nav #main-nav .home-logo {
  max-width: 500px;
  font-weight: bolder;
}

.fixed-nav #main-nav {
  position: fixed;
}

.aws-btn:focus {
  text-decoration: none;
}

.bold {
  font-weight: bolder;
}

.App a:link {
  text-decoration: none;
}

#main-nav .nav-link {
  color: turquoise;
  font-size: 1.7vw;
  padding: 25px;
}

#main-nav .nav-link:hover {
  font-size: 1.9vw;
  color:white;
}

#main-nav .resume-link {
  text-decoration: none; 
  border-style:solid;
  border-radius: 14px;
  border: 2px solid;
  padding: 6px;
  font-size: 1.7vw;
  border-color: turquoise;
  color: turquoise;
}

#main-nav .resume-link:hover {
  background: rgb(60, 60, 60);
  font-size: 1.7vw;
}