#contact {
    text-align: center;
    background: rgb(35, 35, 35);
    color:white;
}

.contact-page {
    position: relative;
    height: 800px;
}

.contact-content{
    width: 50%;
    margin: auto;
    position: relative;
    top: 35%;
}

.contact-title{
    margin: 0;
    position: relative;
    top: 30%; 
    color: turquoise;
    font-size: 5vw;  
}

.contact-message {
    margin-bottom: 10%;
    font-size: 1.5vw;
}

.contact-button {
    font-size: 20px;
}