#portfolio {
    color:white;
    background: rgb(18, 18, 18);
}

.portfolio-page {
    display: grid;
    grid-template-areas: 
    "title"
    "slider";
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-columns: 1fr;         
    height: 100vh;
    width: 100%;
    margin: auto;
}

.portfolio-title {
    grid-area: title;
    margin-top: 10vh;
    margin-left: 10vw;
    font-size: 3vw;
}

#portfolio .slider {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.awssld {
    margin: auto;
    --slider-height-percentage: 60%;
    width: 65vw;
    --organic-arrow-thickness: 7px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 49px;
    --organic-arrow-color: turquoise;
    --control-button-width: 6%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: turquoise;
    --control-bullet-active-color: white;
    --loader-bar-color: turquoise;
    --loader-bar-height: 6px;
    }

.awssld button:focus {
    outline: none;
}

.aws-sld {
    --cube-animation-duration: 700ms;
    --cube-animation-perspective: 1800px;
    --cube-animation-ease-in: cubic-bezier(0.8, 0, 1, 0.8);
    --cube-animation-ease-out: cubic-bezier(0, 0.2, 0.2, 1);
    --cube-translateZ-distance: -225px;
  }

.awssld__content {
    background: rgb(35, 35, 35);
}

.awssld__content h2 {
    margin-left: 4vw;
    margin-bottom: 2vh;
    font-size: 2.5vw;
}

.aws-btn {
    --button-default-height: 40px;
    --button-default-font-size: 1.5vw;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 5px;
    --button-hover-pressure: 4;
    --transform-speed: 0.325s;
    --button-primary-color: turquoise;
    --button-primary-color-dark: white;
    --button-primary-color-light: white;
    --button-primary-color-hover: #00ffe1;
    --button-primary-border: 0px solid #ffffff;
    font-weight: bolder;
    }
.project-image-container {
    text-align: center;
}
.project-image {
    width: 60%;
}
.demo-modal .modal-content .modal-body img {
    width: 100%;
}

.technologies {
    margin-top: 2vh;
    text-align: center;
    font-size: 1.4vw;
}

.modal-container {
    text-align: center;
}

.modal-button {
    font-size: 1.5vw;
}

.modal .modal-content {
    background: rgb(35, 35, 35);
}

.modal-content .modal-header {
    border-bottom: none;
}

.modal-content .modal-footer {
    border-top: none;
    margin: auto;
}

.modal-content .modal-footer a:link {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1vw;
  }

.modal-content span {
    color: white;
}

.modal-content button:focus {
    outline: none;
}
